{% extends 'base.html.twig' %}

{% block title %}Point Locator{% endblock %}

{% block body %}
    <main class="container bg-light">
        <div class="d-flex justify-content-center">
            <table class="mt-5">
                {% for i in 0..9 %}
                    <tr>
                        {% for j in 0..9 %}
                            <td>
                                {% if cells[i][j].isHidden == false %}
                                    <i class="bi bi-{{ cells[i][j].value }}" style="font-size: 47pt;"></i>
                                {% else %}
                                    <a href="{{path('app_cell', {'line': i, 'column': j})}}">Voir</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}
